<div class="CordelRPG game-license">
  <div style="text-align: center;">
    <a href="https://newordereditora.com.br/loja/rpg/cronicas/cronicas-rpg/">
      <img src="/systems/CordelRPG/assets/cordel.png" width="100px" style="border: none;"
        alt="Compatível com Cordel do sol encantado" />
    </a>
  </div>
  <p>
    Este sistema é compatível com as regras do Cordel do Reino do sol encantado e foi criado com a permissão do autor.
    Criado para o Foundry VTT por Marcos Gonçalves (Coppolaop).
  </p>
  <p>
    Sugira correções, melhorias ou novas funcionalidades no
    <a href="https://github.com/coppolaop/CordelRPG/issues/new/choose">Github</a>.
  </p>
</div>