<div class="CordelRPG game-license">
  <div>
    <a title="Este sistema é compatível com as regras do Cordel do Reino do sol encantado e foi criado com a permissão do autor. Criado para o Foundry VTT por Marcos Gonçalves (Coppolaop). Junte-se ao grupo no facebook!"
    href="https://facebook.com/CordelRPG">
      Facebook
    </a>
    <a title="Sugira correções, melhorias ou novas funcionalidades no Github do projeto." href="https://github.com/coppolaop/CordelRPG/issues/new/choose">
      Github
    </a>
  </div>
</div>